Package: {{ name }}
Version: {{ version }}
Architecture: {{ architecture }}
Maintainer: {{ maintainer|safe }}{% if depends %}
Depends: {{ depends|safe }}{% endif %}{% if build-depends %}
Build-Depends: {{ build-depends|safe }}{% endif %}
Section: misc
Priority: optional
Description: {{ description|safe }}{% if long-description %}
{{ long-description|safe }}{% endif %}
