Package: {{ name }}
Version: {{ version }}
Architecture: {{ architecture }}
Maintainer: {{ maintainer|safe }}{% if depends %}
Depends: {{ depends|safe }}{% endif %}
Section: misc
Priority: optional
Description: {{ description }}{% if long-description %}
{{ long-description }}{% endif %}
